* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}

h1 {
    color: steelblue;
    border-bottom: 1px solid steelblue;
    margin: 1rem 0;
    padding: 1rem 0;
}

main {
    grid-column: 2 / 3;
    margin: 1rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

aside {
    width: 250px;
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    left: 90px;
    top: 25px;
}

.grid {
    display: grid;
    align-items: center;
}

footer {
    margin-top: 1rem;
    border-top: 1px dashed slategray;
    text-align: center;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

/* Class Selectors */
.box {
    margin: 1rem 0;
    padding: 1.5rem;
    border: 2px solid aliceblue;
    background-color: beige;
    color: darkblue;
}
